<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cdonlanstorage;AccountKey=S4BBZpOJdz+yAGTpdw3V9E+DdvtNBPdwsnjBKOkdmSVkg3hxRXmnePON4iDSCUTaQEmt9pnE+LNKmilefXhD8Q==" />
  </appSettings>
</configuration>

